spring:
  application:
    name: crawler-service
  datasource:
    url: jdbc:mysql://localhost:3307/hust_assistant_data
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
